{% extends "base.html" %}
{% from 'bootstrap5/table.html' import render_table %}
{% from "bootstrap5/pagination.html" import render_pagination %}
{% block title %}Welcome: {{ current_user.email }}{% endblock %}
<div class="row col-8">
    {% block content %}
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">Welcome: {{ current_user.email }}</div>
        <div class="card-body">
            <h5 class="card-title">Current Balance: {{ balance }}</h5>

        </div>
    </div>


    {% if data|length > 0 %}
    {{ render_table(data, titles) }}

    {% from 'bootstrap5/pagination.html' import render_pagination %}

    {{ render_pagination(pagination) }}
    {% endif %}

    {% endblock %}
</div>



